In [1]:
import pandas as pd

In [40]:
df = pd.read_csv('desafio1.csv')

In [41]:
df.head(5)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [42]:
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [43]:
df['estado_residencia'].unique()

array(['SC', 'RS', 'PR'], dtype=object)

In [44]:
score = df.groupby('estado_residencia').pontuacao_credito.agg( [
    'mean', 'median', pd.Series.mode, 'std'
] )

In [45]:
score

                         mean  median  mode        std
estado_residencia
PR                 648.961294     650   850  98.607186
RS                 651.105143     650   850  95.136598
SC                 649.537653     653   850  97.233493

In [46]:
score['mean'] = round(score['mean'], 2)
score['std'] = round(score['std'], 2)
score

                     mean  median  mode    std
estado_residencia
PR                 648.96     650   850  98.61
RS                 651.11     650   850  95.14
SC                 649.54     653   850  97.23

In [47]:
score = score.rename(
    columns={
        'mode' : 'moda',
        'median' : 'mediana',
        'mean' : 'media',
        'std' : 'desvio_padrao'
    }
)

In [48]:
score

                    media  mediana  moda  desvio_padrao
estado_residencia
PR                 648.96      650   850          98.61
RS                 651.11      650   850          95.14
SC                 649.54      653   850          97.23

In [49]:
score.to_json('submission.json', orient='index')